.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgb(73,83,184);
    background: linear-gradient(90deg, rgba(73,83,184,1) 0%, rgba(89,101,224,1) 100%);
}

.container img {
    width: 60%;
}

.container .leftContent {
    width: 40%;
    display: flex;
    flex-direction: column;

    color: var(--white);
}

.container .leftContent > img {
    width: 18.5rem;
    padding-bottom: 4.5rem;
}

.container .leftContent strong {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 1.7rem;
}

.container .leftContent p {
    width: 40%;
    font-size: 1rem;
    margin-bottom: 3.4rem;
    color: var(--gray-line);

    display: flex;
    align-items: center;
}

.container .leftContent p img {
    width: 2rem;
    margin-right: 0.8rem;
}

.container .leftContent button {
    width: 60%;
    height: 4rem;
    background: rgb(41,48,119);
    border: 0;
    
    border-radius: 5px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    transition: background-color 0.2s;
}

.container .leftContent button img {
    height: 4rem;
    justify-content: flex-end;    
}

.container .leftContent button:hover {
    background: rgb(20, 23, 46);
}

.container .loading img {
    width: 4rem;
}